extends ../layouts/main-layout.pug 

block content
  .container.col-12
    form(action="", method="post")
        label.form-label.me-2(for='SeasonName') Season name : 
        input.me-2(type='text' required id='SeasonName' name='seasonName')
        button.btn.btn-primary(type="submit") Save
